/USELESS
build/
.vscode/
/car_match/checkpoints
__pycache__/
*.*
!*.md
!*.cc
!*.cpp
!*.hpp
!*.xml
!*.h
!*.txt
!.gitignore
!*.sh
!*.py

# saved_model
!saved_model.pb
!variables.index
!variables.data-00000-of-00001
!traced_model.pt
